*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #EAEFF8;
}

.left-side{
    margin: 0;
    padding: 0;
    width: 240px;
    background-color: #0A1727;
    position: fixed;
    height: 100%;
    overflow: auto;
}
.container-h-100{
    min-height: 50rem;
}
.right-side{
    margin-left: 240px;
    padding: 1px 16px;
    height: 1000px;
}

.statistic{
    column-count: 4;   
}
.h-180{
    height: 180px;
}
.search-nav{
    height: 75px;
}
.search-bar{
    width:30%;
    height: 20px;
}
.w-language{
    width:120px;
    height: 40px;
}
.w-btn{
width:140px;
height: 40px;
}
.bg-p{
    background-color: #8862E0;
}
.bg-s{
    background-color: #19D895;
}
.bg-i{
    background-color: #2196F3;
}
.bg-w{
    background-color: #FFAF00;
}
.sum-top{
    /* column-count: 2  ; */
}
.summery-h1{
    column-count: 4;
    text-align: center;
}
.as{
    column-count: 1;
}
.h-summery{
    /* height: 850px; */
}
.m{
    margin-left: 50%;
    margin-top: 0;
}
.tsp-w{
    width:49.5%;
}
.card{
   height: 410px;
   margin-top: 20px;
}
.card-box{
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: all .5s;
}
.card-box:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.num-of-pro{
    width:20px;
}

/* Table */
.table-image{
    background-color: red;
    width:110px;
    height: 110px;
}

.form-control-input{
    max-width:100px;
}